/* * {
  border: 3px solid black;
} */


body {
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  display: flex;
}

#title_button {
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
  width: 100%;
  text-align: center;

  font-size: min(6vw, 10vh);
  font-weight: bold;
}

#title_button:hover {
  opacity: .6;
}

#settings_button {
  background-color: inherit;
  border: none;
  padding: 1%;
}

#settings_button img {
  height: auto;
  width: min(5vw, 5vh);
  opacity: 0.6;
}

#settings_button:hover img {
  opacity: 1;
}

#container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 0;
  row-gap: 0;
}

#weeks,
#days {
  text-align: center;
}

#weeks .text,
#days .text {
  font-size: min(12vw, 15vh);
  line-height: 0.85;
}

#weeks .label,
#days .label {
  font-size: min(5vw, 10vh);
}

#time {
  grid-column: 1 / span 2;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
  margin: 0;

}

#time .text,
#time .punc {
  text-align: center;
  /* font-size: 20vmin;  */
  font-size: min(17vw, 40vh);
  line-height: 0.85;
}

#time .label {
  line-height: 0.85;
  text-align: center;
  font-size: min(5vw, 10vh);
}

#time #hour {
  grid-column: 2 / span 1;
}

#time #minute {
  grid-column: 4 / span 1;
}

#time #second {
  grid-column: 6 / span 1;
}